body {
  color: rgb(226, 230, 237);
  background-color: rgb(23, 23, 23);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  margin: 10px;
  text-align: center;
}

select {
  margin-bottom: 25px;
}

.container {
  padding: 15px;
  box-shadow: 30px;
  border: solid;
  border-width: 6px;
  border-radius: 2rem;
  border-color: rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.6);
}

.btn {
  border-radius: 0.3rem;
  margin: 3px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 38%;
}

#output {
  text-align: center;
}

#calculate {
  background-color: green;
  color: aliceblue;
}

#empty {
  background-color: darkorange;
  color: aliceblue;
}

.light-theme {
color: rgb(23, 23, 23);
background-color: rgb(226, 230, 237);
}

.dark-theme {
  color: rgb(226, 230, 237);
  background-color: rgb(23, 23, 23);
}

#dark, #empty{
  display: none;
}

#light, #dark {
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
  border-radius: 4rem;
  margin-left: 5px;
}